
@{
    ViewBag.Title = "Add User Role";
}
@*@model string*@
@model List<ePaperLive.Models.RoleViewModel>


<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-12">
                    <!-- start:wizrd -->

                    <h2>Add Role</h2>

                    @*@if (Model != null && !string.IsNullOrWhiteSpace(Model))
                        {
                            <div class="alert alert-success">
                                Role @Model created successfully.
                            </div>
                        }*@

                    @using (Html.BeginForm("AddRole", "Admin", FormMethod.Post))
                    {
                        <div class="form-group col-lg-4">
                            @Html.Label("Role Name")
                            @Html.TextBox("roleName", null, new { @class = "form-control" })
                        </div>

                        <button type="submit" class="btn btn-sign-in my-4">Create Role</button>
                    }

                

                    <table id="dataTable" class="table">
                        <thead>
                            <tr>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <!-- end:wizrd -->
                </div>


            </div>

        </div>
    </section><!-- End Wizard Section -->

</div>

@Scripts.Render("~/bundles/jquery")
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />*@
<script>
    $(document).ready(function () {

        $('#dataTable').DataTable({
            pageLength: 25

        });
        //flatpickr('.datepicker', {
        //    dateFormat: "Y-m-d",
        //    disableMobile: true,
        //});
    });
</script>

