@model ePaperLive.Models.PrintSubRates

@if (Model.Rates == null)
{
    <h3 class="text-error">No items matched your search query!</h3>
}
else
{
    @:<div id="planSelection">
        var currentDesc = "";
    List<ePaperLive.DBModel.printandsubrate> rates = new List<ePaperLive.DBModel.printandsubrate>();
    if (Model.RateType != "Print")
    {
        rates = Model.Rates.OrderBy(s => s.SortOrder).ToList();
    }
    else
    {

        rates = Model.Rates.ToList();
    }

    if (Model.IsRenewal)
    {
        rates = Model.Rates.Where(x => x.IsRenewalRate == Model.IsRenewal).ToList();
    }

    foreach (var plans in rates)
    {
        var ratePrice = (plans.OfferIntroRate) ? plans.IntroRate : plans.Rate;
        var printWeeks = (plans.Type != "Epaper") ? "  [" + plans.PrintTerm + " " + plans.PrintTermUnit + "] " : "";
        var frequency = "Delivery Freq.: " + plans.PrintDayPattern;

        var mainDesc = plans.RateDescr;

        if (currentDesc != mainDesc && currentDesc != "" && plans.Type == "Print")
        {
            @:</div> <br /><br />
        }

        if (mainDesc != currentDesc && plans.Type == "Print")
        {
            <span class="pt-1 pb-1">
                <strong>
                    <a href="#@mainDesc.Replace(" ","").Replace("&","")" alt="@mainDesc.Replace(" ","").Replace("&","")" data-bs-toggle="collapse" role="tabpanel" aria-expanded="false" >
                        @mainDesc
                    </a>
                </strong>
            </span>
            @:<div class="collapse" id="@mainDesc.Replace(" ","").Replace("&","")"  data-bs-parent="#planSelection">

            }
            <label class="rate">
                @Html.RadioButton("RateID", plans.Rateid,
                                    htmlAttributes: new
                                         {
                                        @class = "",
                                        @data_is_feature = "false",
                                        @data_sub_id = plans.Rateid,
                                        @data_rate_type = plans.Type,
                                        @data_rate_price = plans.Curr + " " + String.Format("{0:C}", ratePrice),
                                        @data_rate_desc = mainDesc.Replace(" ", "").Replace("&", ""),
                                        id = $"RateID{rates.IndexOf(plans)}"
                                         })
                <span class="value rateLine">
                    <span id="rateDesc">
                        @if (plans.Type != "Print")
                        {
                            @(" " + plans.RateDescr)
                        }
                        else
                        {
                            @(" " + printWeeks) <span> | </span><small> @(frequency)</small>

                        }
                    </span>
                    
                    <span style="margin-left: auto">
                        @if (plans.OfferIntroRate == true)
                        {
                            <span class="d-none d-lg-inline-block mx-2 text-black-50 text-decoration-line-through float-start">@(plans.Curr + " " + String.Format("{0:C}", plans.Rate)) </span>
                        }
                        @(plans.Curr + " " + String.Format("{0:C}", ratePrice))
                    </span>
                </span>
            </label>

            currentDesc = mainDesc;
        }

    @:</div>
}
