@model ePaperLive.Models.PrintSubRates

@if (Model.Rates == null)
{
    <h3 class="text-error">No items matched your search query!</h3>
}
else
{

    var currentDesc = "";
    foreach (var plans in Model.Rates)
    {
        var printWeeks = (plans.Type != "Epaper") ? "  [" + plans.PrintTerm + " " + plans.PrintTermUnit + "] " : "";

        var mainDesc = plans.RateDescr;

        if (currentDesc != mainDesc && currentDesc !="" && plans.Type == "Print")
        {
            @:</div> <br /><br />
        }

        if (mainDesc != currentDesc && plans.Type == "Print")
        {
            <span class="pt-1 pb-1">
                <strong>
                    <a href="#@mainDesc.Replace(" ","").Replace("&","")"  alt="@mainDesc.Replace(" ","").Replace("&","")" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="@mainDesc.Replace(" ","").Replace("&","")">@mainDesc</a>
                </strong>
            </span>
            @:<div id="@mainDesc.Replace(" ","").Replace("&","")" class="collapse">

        }
            <label id="rate">
                @Html.RadioButton("RateID", plans.Rateid, 
                                    htmlAttributes: new { 
                                        @class = "",  
                                        @data_sub_id = plans.Rateid,  
                                        @data_rate_type = plans.Rate, 
                                        @data_rate_price = plans.Curr + " " + String.Format("{0:C}", plans.Rate), 
                                        @data_rate_desc = mainDesc.Replace(" ", "").Replace("&", "")})
                <span class="value" id="rateLine">@(" " + plans.RateDescr + printWeeks) <span style="margin-left: auto">@(plans.Curr + " " + String.Format("{0:C}", plans.Rate)) </span></span>
            </label>

            currentDesc = mainDesc;

        }
    }
