
    <style>
        .summary-links ul i {
            padding-right: 2px;
            color: #E62B34;
            font-size: 18px;
            line-height: 1;
            margin-left: -5px;
        }
    </style>

    <div class="portfolio-info summary-links">
        @*<h5><strong>The Jamaica Observer Limited</strong> </h5>*@
        <div class="text-center">
            <a href="https://wwww.jamaicaobserver.com/" class="text-center"><img src="@Url.Content("~/assets/img/jol-logo-sm.png")" alt="" width="235" class="img-fluid"></a>
        </div>
        @if (!string.IsNullOrWhiteSpace((string)ViewData["pkgType"]))
        {
            <p>@ViewData["pkgType"] Plan</p><br />
        }

        @if ((Dictionary<string, int>)ViewData["preloadSub"] != null)
        {
            var preloadSub = (Dictionary<string, int>)ViewData["preloadSub"];
            <div id="subSummary" class="text-center pb-4">
                @foreach (var plans in preloadSub)
                {
                    ViewData["rateType"] = plans.Key.Split('|')[0];
                    var freq = plans.Key.Split('|')[4];
                    freq = (freq != "undefined" && freq != null) ? freq.Split(':')[0] + "<br>" + freq.Split(':')[1] : String.Empty;

                    <strong>@plans.Key.Split('|')[0].ToUpper() SUBSCRIPTION</strong><br />
                    @plans.Key.Split('|')[1];<br />
                    if (plans.Key.Split('|')[0].ToUpper() != "EPAPER" )
                    {
                        <small>@Html.Raw(freq)</small>
                    }
                    <p id="subRate" class="pt-1 text-success fw-semibold fs-3">@plans.Key.Split('|')[3]</p>

                }
            </div>
        }
        @{
            var url = Request.Url.ToString();
            if (!url.Contains("Subscribe") && !url.Contains("LoginDetails"))
            {
                <p class="text-center"><strong>Your subscription start date</strong></p>
                <p class="text-center fs-6" id="sub-dt-e">Your <span id="subtypedesc"></span> subscription starts <span id="subStartDate">today: @DateTime.Now.ToString("d/MM/yyyy")</span></p>
                <p class="text-center fs-6 hidden" id="sub-dt-p">Your print subscription starts <span id="subPStartDate"></span></p>
               
                <br />
            }

        }

        <p class="text-center"><strong>What's included?</strong></p>

        <ul>
            @if (ViewData["rateType"] != null)
            {
                var rateType = ViewData["rateType"];

                switch (rateType)
                {
                    case "Epaper":
                        <li><i class="bx bx-chevron-right"></i>Observer's smartphone app and tablet edition</li>
                        <li><i class="bx bx-chevron-right"></i>Digital editions of all print media</li>
                        <li><i class="bx bx-chevron-right"></i>Full access to articles and premium content</li>
                        <li><i class="bx bx-chevron-right"></i>Access 30 days previous editions</li>
                        break;
                    case "Print":
                        <li><i class="bx bx-chevron-right"></i>Delivery of all printed editions *</li>
                        <li><i class="bx bx-chevron-right"></i>All supplements offered via print media</li>
                        break;
                    case "Bundle":
                        <li><i class="bx bx-chevron-right"></i>Delivery of all printed editions *</li>
                        <li><i class="bx bx-chevron-right"></i>All supplements offered via print media</li>
                        <li><i class="bx bx-chevron-right"></i>Digital editions of all print media</li>
                        <li><i class="bx bx-chevron-right"></i>The Sunday Observer</li>
                        <li><i class="bx bx-chevron-right"></i>The Daily Observer</li>
                        <li><i class="bx bx-chevron-right"></i>The Saturday Observer</li>
                        break;
                    default:

                        break;
                }
            }
            else
            {
                <li><i class="bx bx-chevron-right"></i>Observer's smartphone app and tablet edition</li>
                <li><i class="bx bx-chevron-right"></i>Digital editions of all print media</li>
                <li><i class="bx bx-chevron-right"></i>Full access to articles and premium content</li>
                <li><i class="bx bx-chevron-right"></i>Delivery of all printed editions *</li>
                <li><i class="bx bx-chevron-right"></i>All supplements offered via print media</li>
                <li><i class="bx bx-chevron-right"></i>Access 30 days previous editions</li>
            }
        </ul>
        <br />


    </div>
<!--
<div class="portfolio-description">
    <h5><strong>Billing information</strong></h5>
        <p><small>Your first payment of $15.00 will be taken on 2nd November 2022.</small></p>
        <p><small>A payment of $15.00 will be taken on the 14th of the month thereafter. A minimum subscription term of 3 months applies.</small></p>
        <p><small>You are entitled to a full refund within the first 14 days of your subscription. If you do this, your access will be stopped.</small></p>
        <p><small>>To cancel after your minimum term, please contact our Customer Services team 15 days before the end of your 13 weeks voucher book.</small></p>
        <p><small>You will shortly be sent a confirmation email.</small></p>
</div>
-->
            
