
@{
    ViewBag.Title = "Dashboard";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>Welcome, @ViewData["userFirstName"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-8">
                    <!-- left-col -->
                    
                    <div class="portfolio-info">
                        <h3>Today's Paper</h3>
                        <div class="row">

                            <div class="col-lg-8 d-flex">
                                <p>Click the front page to read your ePaper or <a href="@Url.Action("ReadPaper", "Account")" target="_blank">click here</a></p>

                            </div>
                            <div class="col-lg-4 hero-img" data-aos="fade-right">
                                <!-- Press Reader Front Page -->
                                <a href="@Url.Action("ReadPaper", "Account")" target="_blank">
                                    <img src="@String.Format("https://i.prcdn.co/img?cid=9IJ5&page=1&height=300?{0}", DateTime.Now.ToString("yyyyMMddssfffffffK"))" class="img-fluid" alt="" style="border: 2px solid red;">
                                </a>

                                @*<div class="row portfolio-container aos-init aos-animate">
                                    <div class="portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="@String.Format("https://i.prcdn.co/img?cid=9IJ5&page=1&height=300&v={0}", DateTime.Now.ToString("yyyyMMdd"))" class="img-fluid" alt="">
                                            <div class="portfolio-info">
                                                <h4>Today's Paper</h4>
                                                <p>App</p>
                                            </div>
                                            <div class="portfolio-links">
                                                <a href="https://i.prcdn.co/img?cid=9IJ5&page=1" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Today's Paper">
                                                <i class="bx bx-plus"></i></a>
                                                <a href="@Url.Action("ReadPaper", "Account")" title="Read Paper"><i class="bx bx-link"></i></a></div>
                                        </div>
                                    </div>

                                </div>*@

                            </div>
                        </div>



                        <br />

                    </div>
                 
                    




                    <!-- end:left-col -->
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Current Subscription: <span class="text-success">Active</span> </h3>
                        @if (ViewBag.plans != null)
                        {
                            foreach (var item in (List<ePaperLive.Models.SubscriptionDetails>)ViewBag.plans)
                            {
                                <p>@item.RateDescription</p>
                                <small>
                                    <strong>Start:</strong> @Convert.ToDateTime(item.StartDate).ToString("dd MMMM yyyy") <br />
                                    <strong>End:&nbsp;&nbsp;</strong> @Convert.ToDateTime(item.EndDate).ToString("dd MMMM yyyy") <br />
                                    <!-- <a href="#">Cancel</a> -->
                                </small>

                            }
                        }
                        <br />
                        <a href="@Url.Action("ExtendSubscription", "Account")" class="btn-get-started scrollto">Extend Subscription</a>
                    </div>
                   
                </div>





            </div>

        </div>
    </section><!-- End Wizard Section -->

</main><!-- End #main -->
