@using ePaperLive.Models

@model IEnumerable<ePaperLive.Models.SubscriptionDetails>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="@Url.Action("dashboard", "account")">Home</a></li>
            <li>@ViewData["Title"]</li>
        </ol>
        <h2>@ViewData["Title"]</h2>

    </div>
</section><!-- End Breadcrumbs -->
<div class="container">
    <p>
        @*@Html.ActionLink("Add Subsription", "Create")*@
    </p>
    <table class="table table-hover table-striped small">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RateDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th>
                Start Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RateDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubType)
                </td>
                <td>
                    @Convert.ToDateTime(item.StartDate).ToString("dd MMMM yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.EndDate).ToString("dd MMMM yyyy")
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id = item.RateID }) |*@

                    @if (!item.RefundRequested && item.isActive && (item.OrderNumber.Contains("EP") || item.OrderNumber.Contains("PR") || item.OrderNumber.Contains("BU")))
                    {
                        <a href="#" class="" name="cancelBtn" id="@(item.OrderNumber)" data-bs-toggle="modal" data-bs-target="#request-refund">Refund Subscription</a>
                    }
                    @if(item.RefundRequested)
                    {
                        <span class="text-warning" id="refundSent">Refund Requested</span>
                    }

                </td>
            </tr>
        }

    </table>

</div>

<!-- Delivery Modal -->
@{Html.RenderPartial("_RefundForm", ViewData["FeedBackFormModelData"]); }
<!-- end: Delivery Modal -->
@section scripts{
    <script>
        $('[name=cancelBtn]').on("click", function (e) {
            let orderNum = e.currentTarget.id;
            $('[name=Subject]').val('Refund Request: ' + orderNum);

            //console.log(e.currentTarget.id)
        });

    </script>


    }