@model ePaperLive.Models.AuthSubcriber

@{
    ViewBag.Title = "Thank you";
}



<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-7">
                    <!-- start:wizrd -->
                    <h3>
                        Thank you @Model.FirstName for subscribing to The Jamaica Observer  
                        @switch (Model.PaymentDetails.FirstOrDefault().SubType)
                        {
                            case "Epaper":
                                @("ePaper");
                                break;
                            case "Print":
                                @("Print Edition");
                                break;
                            case "Bundle":
                                @("ePaper & Print Edition");
                                break;
                            default:
                                break;
                        }
                    </h3>
                    <p>A confirmation email has been sent to the supplied email address on the summary. Please follow the below link to login to start reading the ePaper or keep track of your delivery dates.</p>
                    <p>
                        <a href="@Url.Action("login", "account")">Login</a>
                    </p>
                    <!-- end:wizrd -->
                </div>
                <div class="col-lg-5">
                    <div class="portfolio-info">
                        <h3>Summary</h3>
                        <ul>
                            <li><strong>Order Number:</strong>: <a href="#">@Model.PaymentDetails.FirstOrDefault().OrderNumber</a></li>
                            <li><strong>@Model.SubscriptionDetails.FirstOrDefault().RateType Plan</strong>: @Model.PaymentDetails.FirstOrDefault().RateDescription</li>
                            <li><strong>Subscriber</strong>: @(Model.LastName + ", " + Model.FirstName)</li>
                            <li><strong>Subscription Period</strong>: @Model.SubscriptionDetails.FirstOrDefault().StartDate.ToString("dd/MM/yyyy")  - @Model.SubscriptionDetails.FirstOrDefault().EndDate.ToString("dd/MM/yyyy")</li>
                            <li><strong>Email</strong>: <span class="text-danger">@Model.EmailAddress</span></li>
                            <li><strong>Amount</strong>: <span class="text-success">@String.Format("{0:C}", Model.PaymentDetails.FirstOrDefault().CardAmount)</span></li>
                            <li><strong>Card</strong>: <span class="">
                            @Model.PaymentDetails.FirstOrDefault().CardType :
                            @Model.PaymentDetails.FirstOrDefault().CardNumberLastFour 
                                EXP: @Model.PaymentDetails.FirstOrDefault().CardExp
                        </span></li>
                        </ul>
                        @if (Model.AddressDetails.Any(x => x.AddressType == "D"))
                        {
                            <br />
                            <h6>Delivery Address</h6>
                            <hr />
                            <p>
                                @{
                                    var dAddress = @Model.AddressDetails.FirstOrDefault(x => x.AddressType == "D");
                                }

                                @dAddress.AddressLine1<br />
                                @if (!String.IsNullOrEmpty(dAddress.AddressLine2))
                                {
                                    @dAddress.AddressLine2<br />
                                }

                                @dAddress.CityTown<br />
                                @dAddress.StateParish<br />
                                @dAddress.CountryCode

                            </p>
                         }
                        
                    </div>
                    <!--
                    <div class="portfolio-description">
                        <h2>Other Details</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                        -->
                </div>





            </div>

        </div>
    </section><!-- End Wizard Section -->

</div><!-- End #main -->
