@model ePaperLive.Models.AuthSubcriber

@{
    ViewBag.Title = "Thank you";
    var subtype = Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).SubType;

}



<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-7">
                    <!-- start:wizrd -->
                    <h3>
                        Thank you @Model.FirstName for subscribing to The Jamaica Observer  
                        @switch (subtype)
                        {
                            case "Epaper":
                                @("ePaper");
                                break;
                            case "Print":
                                @("Print Edition");
                                break;
                            case "Bundle":
                                @("ePaper & Print Edition");
                                break;
                            default:
                                break;
                        }
                    </h3>
                    <p>
                        A confirmation email has been sent to the supplied email address on the summary. Please click the below link to login to
                        @switch (subtype)
                        {
                            case "Epaper":
                                @("start reading the ePaper");
                                break;
                            case "Print":
                                @("keep track of your delivery dates");
                                break;
                            case "Bundle":
                                @("start reading the ePaper or keep track of your delivery dates");
                                break;
                            default:
                                @("start reading the ePaper or keep track of your delivery dates");
                                break;
                        }.
                    </p>
                    <p class="text-center p-3">
                        <a href="@Url.Action("login", "account")" class="btn btn-sign-in">Log In</a>
                    </p>
                    <!-- end:wizrd -->
                </div>
                <div class="col-lg-5">
                    <div class="portfolio-info">
                        <h3>Summary</h3>

                        @{
                            var desc = Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).RateDescription;
                            var term = Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).RateTerm;

                            if (subtype == "Print")
                            {
                                desc = desc + " (" + term + ")";
                            }
                            if (subtype == "Bundle")
                            {
                                desc = desc.Split('/')[0] + " <br />" + desc.Split('/')[1];
                            }

                        }
                        <ul>
                            <li><strong>Order Number:</strong>: <a href="#">@Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).OrderNumber</a></li>
                            <li><strong>@Model.SubscriptionDetails.FirstOrDefault(x => x.SubscriptionID == 0).RateType Plan</strong>: @Html.Raw(desc)</li>
                            <li><strong>Subscriber</strong>: @(Model.LastName + ", " + Model.FirstName)</li>
                            @if (Model.SubscriptionDetails.FirstOrDefault(x => x.SubType == "Epaper" && x.SubscriptionID == 0) != null)
                            {
                                <li><strong>ePaper Subscription Period</strong>: @Model.SubscriptionDetails.FirstOrDefault(x => x.SubType == "Epaper" && x.SubscriptionID == 0).StartDate.ToString("dd/MM/yyyy")  - @Model.SubscriptionDetails.FirstOrDefault(x => x.SubscriptionID == 0).EndDate.ToString("dd/MM/yyyy")</li>

                            }

                            @if (Model.SubscriptionDetails.FirstOrDefault(x => x.SubType == "Print" && x.SubscriptionID == 0) != null)
                            {
                                <li><strong>Print Subscription Period</strong>: @Model.SubscriptionDetails.FirstOrDefault(x => x.SubType == "Print" && x.SubscriptionID == 0).StartDate.ToString("dd/MM/yyyy")  - @Model.SubscriptionDetails.FirstOrDefault(x => x.SubscriptionID == 0).EndDate.ToString("dd/MM/yyyy")</li>

                            }
                            <li><strong>Email</strong>: <span class="text-danger">@Model.EmailAddress</span></li>
                            <li><strong>Amount</strong>: <span class="text-success">@String.Format("{0:C}", Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).CardAmount)</span></li>
                            <li>
                                <strong>Card</strong>: <span class="">
                                    @Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).CardType :
                                    @Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).CardNumberLastFour
                                    EXP: @Model.PaymentDetails.FirstOrDefault(x => x.TransactionID == 0).CardExp
                                </span>
                            </li>
                        </ul>
                        @if (Model.AddressDetails != null)
                        {
                            if (Model.AddressDetails.Any(x => x.AddressType == "D"))
                            {
                                <br />
                                <h6>Delivery Address</h6>
                                <hr />
                                <p>
                                    @{
                                        var dAddress = @Model.AddressDetails.FirstOrDefault(x => x.AddressType == "D");
                                    }

                                    @dAddress.AddressLine1<br />
                                    @if (!String.IsNullOrEmpty(dAddress.AddressLine2))
                                    {
                                        @dAddress.AddressLine2<br />
                                    }

                                    @dAddress.CityTown<br />
                                    @dAddress.StateParish<br />
                                    @dAddress.CountryCode

                                </p>
                            }
                        }
                        

                    </div>
                    <!--
                    <div class="portfolio-description">
                        <h2>Other Details</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                        -->
                </div>





            </div>

        </div>
    </section><!-- End Wizard Section -->

</div><!-- End #main -->
