@model ePaperLive.Models.AuthSubcriber

@{
    ViewBag.Title = "Thank you";
}



<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-8">
                    <!-- start:wizrd -->
                    <h2>Thank you  for @Model.FirstName for subscribing to<br /> The Jamaica Observer Digital Experience</h2>
                    <p>A confirmation email has been sent to the supplied email address with. Please follow the below link to login to start reading the epaper or keep track of your delivery dates.</p>
                    <p>
                        <a href="@Url.Action("login", "account")">Login</a>
                    </p>
                    <!-- end:wizrd -->
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Summary</h3>
                        <ul>
                            <li><strong>Order Number:</strong>: <a href="#">@Model.PaymentDetails.FirstOrDefault().OrderNumber</a></li>
                            <li><strong>@Model.SubscriptionDetails.FirstOrDefault().RateType Plan</strong>: @Model.PaymentDetails.FirstOrDefault().RateDescription</li>
                            <li><strong>Subscriber</strong>: @(Model.LastName + ", " + Model.FirstName)</li>
                            <li><strong>Subscription Period</strong>:<br /> @Model.SubscriptionDetails.FirstOrDefault().StartDate - @Model.SubscriptionDetails.FirstOrDefault().EndDate</li>
                            <li><strong>Email</strong>: <a href="#">@Model.EmailAddress</a></li>
                        </ul>
                    </div>
                    <!--
                    <div class="portfolio-description">
                        <h2>Other Details</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                        -->
                </div>





            </div>

        </div>
    </section><!-- End Wizard Section -->

</div><!-- End #main -->
