@model ePaperLive.Models.PaymentDetails

@{
    ViewBag.Title = "Payment";
}
    <div id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="@Url.Action("index", "home")">Home</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <h2> @ViewData["Title"]</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Wizard Breadcrumbs ======= -->
        <div class="container form-header d-flex mb-4 mt-4">
            <span class="stepIndicator active">Login Details</span>
            <span class="stepIndicator active">Mailing Address</span>
            <span class="stepIndicator active">Subscription</span>
            <span class="stepIndicator active">Payment</span>
        </div><!-- End Wizard Breadcrumbs -->
        <!-- ======= Wizard Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-8">
                        <!-- start:wizrd -->
                        @using (Html.BeginForm("PaymentDetails", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", novalidate = "novalidate" }))
                        {
                            @Html.AntiForgeryToken()
                            
                        <div class="form-horizontal">
                            <h4><strong>@Html.DisplayFor(model => model.SubType): </strong>@Html.DisplayFor(model => model.RateDescription) </h4>
                            <h1 style="color:forestgreen"><strong>@Html.DisplayFor(model => model.Currency) @String.Format("{0:C}", Model.CardAmount)</strong></h1>
                            <hr />
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CardAmount)
                            @Html.HiddenFor(model => model.Currency)
                            @Html.HiddenFor(model => model.SubType)
                            @Html.HiddenFor(model => model.RateDescription)

                            <!-- rate id needs to fix-->
                            @Html.Hidden("RateID")

                            <div class="row form-horizontal">
                                <strong>Please enter your billing address </strong>
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label" })*@
                                    <div class="col-md-10 p-2">
                                        @Html.EditorFor(model => model.BillingAddress.AddressLine1, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.BillingAddress.AddressLine1) } })
                                        @*@Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label" })*@
                                    <div class="col-md-10 p-2">
                                        @Html.EditorFor(model => model.BillingAddress.AddressLine2, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.BillingAddress.AddressLine2) } })
                                        @*@Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group p-2">
                                        @*@Html.LabelFor(model => model.CityTown, htmlAttributes: new { @class = "control-label " })*@
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BillingAddress.CityTown, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.BillingAddress.CityTown) } })
                                            @*@Html.ValidationMessageFor(model => model.CityTown, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group p-2">
                                        @*@Html.LabelFor(model => model.StateParish, htmlAttributes: new { @class = "control-label " })*@
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BillingAddress.StateParish, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.BillingAddress.StateParish) } })
                                            @*@Html.ValidationMessageFor(model => model.StateParish, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group p-2">
                                        @*@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label " })*@
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.BillingAddress.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.BillingAddress.ZipCode) } })
                                            @*@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group p-2">
                                        @*@Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label " })*@
                                        <div class="col-md-10">
                                            @*@Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.CountryCode) } })*@
                                            @*@Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })*@
                                            @Html.DropDownListFor(model => model.BillingAddress.CountryCode, Model.BillingAddress.CountryList, "Select Country", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr />

                            <div class="form-group p-2 pb-5 col-md-5">
                                @Html.LabelFor(model => model.PromoCode, htmlAttributes: new { @class = "control-label " })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.PromoCode, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.PromoCode) } })
                                    <button type="button" class="btn btn-danger btn-promo-code">APPLY</button>
                                </div>
                            </div>
                            <hr />

                            <div class="form-group p-2">
                                @Html.LabelFor(model => model.CardType, htmlAttributes: new { @class = "control-label " }) <br />
                                @foreach (var method in @ePaperLive.Util.GetEnumSelectList<ePaperLive.Models.PaymentMethod>())
                                {
                                    <div class="form-check form-check-inline">
                                        @Html.RadioButtonFor(model => model.CardType, method.Text, new { @class = "form-check-input", @required = "required" })
                                        @Html.LabelFor(model => model.CardType, method.Text, htmlAttributes: new { @class = "form-check-label " })
                                    </div>
                                }
                                @Html.HiddenFor(m => m.CardType)

                            </div>
                            <div class="form-group p-2">
                                @*@Html.LabelFor(model => model.cardNumber, htmlAttributes: new { @class = "control-label " })*@
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.CardNumber) } })
                                </div>
                            </div>
                            <div class="form-group p-2">
                                @*@Html.LabelFor(model => model.cardOwner, htmlAttributes: new { @class = "control-label " })*@
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CardOwner, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = Html.DisplayNameFor(model => model.CardOwner) } })
                                </div>
                            </div>


                            <div class="form-group p-2">
                                <div class="col-md-offset-2 col-md-10 pt-3">
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.LabelFor(model => model.CardExp, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.CardExp, new { htmlAttributes = new { @class = "form-control", @required = "required", placeholder = "MM/YY" } })
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            @Html.LabelFor(model => model.CardCVV, htmlAttributes: new { @class = "control-label " })
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.CardCVV, new { htmlAttributes = new { @class = "form-control", @required = "required", type = "password", placeholder = Html.DisplayNameFor(model => model.CardCVV) } })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @if (Model.TransactionSummary != null)
                            {
                                @Html.Hidden("TransactionSummary", Model.TransactionSummary.Merchant3DSResponseHtml)
                            }
                            <section id="paymentGatway" style="display:none"></section>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 pt-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="submit" value="Prev" name="prevBtn" class="btn btn-sign-in bx-pull-left" />
                                        </div>
                                        <div class="col-6">
                                            <input type="submit" value="Pay Now" name="nextBtn" class="btn btn-sign-in bx-pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        <!-- end:wizrd -->
                    </div>
                    <div class="col-lg-4">
                        @Html.Partial("_SubcriptionSummary")
                    </div>





                </div>

            </div>
        </section><!-- End Wizard Section -->

    </div><!-- End #main -->

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })();

    </script>

@section scripts{
    <script>
        $(document).ready(function () {
            let routeData = $("#TransactionSummary").val();
            let timeout;
            if (routeData) {
                //$('#paymentGatway').show();
                routeData = $.parseHTML(routeData);
                $('#paymentGatway').html(routeData);
                
                setTimeout(
                   submitForm, 50
                );
            }
        });

        function submitForm() {
            //$('#paymentGatway').find('form input[name=submit]').click();
            $('#paymentGatway').find('form').submit();
        }
    </script>
    <script>

        // Needed for KeyCard
        $("#CardNumber").on("input", (e) => {
            if ($("#CardNumber").val().startsWith("7")) {
                $("input[value='KeyCard']").prop("checked", true);
            }
            else if ($("#CardNumber").val().length == 0) {               
                $("input[name='CardType']").prop("checked", false);
            }
        });

        //$("#CardCVV").on("input", (e) => {
        //    $("#CardCVV").val($("#CardCVV").val().replace(/\D/g, ''));
        //});

        let cardNumber = new Cleave('#CardNumber', {
            creditCard: true,
            onCreditCardTypeChanged: (type) => {
                /*$("input[name='CardType']").prop("checked", false);*/
                if (type == 'visa') {
                    $("input[value='Visa']").prop("checked", true);
                }
                else if (type == 'mastercard') {
                    $("input[value='Mastercard']").prop("checked", true);
                }
                console.log(type);
            }
        });

        let cardCVV = new Cleave('#CardCVV', {
            blocks: [3],
            numericOnly: true
        })

        let expirationDate = new Cleave('#CardExp', {
            date: true,
            datePattern: ['m', 'y']
        });
    </script>
}