@{
    ViewBag.Title = "Reset password confirmation";
}

    <div id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="@Url.Action("index", "home")">Home</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <h2>@ViewData["Title"]</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Wizard Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-8">
                        <!-- start:wizrd -->
                        <div class="container">
                            <hgroup class="title">
                                <h1>@ViewBag.Title.</h1>
                            </hgroup>
                            <div>
                                <p>
                                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </p>
                            </div>
                        </div>
                        <!-- end:wizrd -->
                    </div>
                    





                </div>

            </div>
        </section><!-- End Wizard Section -->

    </div>