@model ePaperLive.Models.SubscriptionDetails

@{
    ViewBag.Title = "Subscription";
    ePaperLive.DBModel.Subscriber_Address address = null;
    if (ViewData["savedAddressData"] != null)
    {
        address = (ePaperLive.DBModel.Subscriber_Address)ViewData["savedAddressData"];
        @Html.Label(address.AddressLine1)
    }


}
<style>
    textarea {
        width: 100%
    }
</style>

<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Breadcrumbs ======= -->
    <div class="container form-header d-flex mb-4 mt-4">
        <span class="stepIndicator active">Login Details</span>
        <span class="stepIndicator active">Mailing Address</span>
        <span class="stepIndicator active">Subscription</span>
        <span class="stepIndicator">Payment</span>
    </div><!-- End Wizard Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-8">

                    <!-- start:wizrd -->
                    @using (Html.BeginForm("SubscriptionInfo", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", novalidate = "novalidate", name = "subdetails" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Choose from one of our subscription options</h4>
                            <hr />
                            @*@Html.Partial("_Rates", Model)*@

                            <br />
                            <div id="search-form">
                                <div class="plans pb-3">
                                    <div class="row justify-content-md-center">
                                        <div class="col-lg-3 col-sm-4 p-2">@Html.RadioButtonFor(x => x.RateType, "Epaper", htmlAttributes: new { @autocomplete = "off", @id = "ePaper" })<label for="ePaper">ePaper Edition</label></div>
                                        <div class="col-lg-3 col-sm-4 p-2">@Html.RadioButtonFor(x => x.RateType, "Print", htmlAttributes: new { @autocomplete = "off", @id = "Print" })<label for="Print">Print Edition</label></div>
                                        <div class="col-lg-3 col-sm-4 p-2">@Html.RadioButtonFor(x => x.RateType, "Bundle", htmlAttributes: new { @autocomplete = "off", @id = "Bundle" })<label for="Bundle">Print & ePaper Bundle</label></div>
                                    </div>
                                </div>
                                @* @Html.Action("GetRatesList", "Account")*@
                            </div>
                            <div class="container pb-3" id="rates-results" style="display:none;">
                                <p>Loading...</p>

                            </div>
                            @Html.HiddenFor(m => m.RateID, new { @class = ".do-not-ignore" })
                      
                            <div class="form-group p-2" id="del-address" style="display: none">
                                <hr />
                                <div class="row justify-content-md-center">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn-sign-in" data-bs-toggle="modal" data-bs-target="#delivery-address">Add delivery address</button>
                                        <div id="del-address-details" style="display:none;"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="delAddressDetails"> </div>

                            <div class="form-group p-2" id="del-instructions" style="display: none">
                                @Html.LabelFor(model => model.DeliveryInstructions, htmlAttributes: new { @class = "form-label " })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.DeliveryInstructions, new { htmlAttributes = new { @class = "form-control", @rows = 5 } })
                                </div>
                                <hr />

                            </div>

                            <div class="form-group p-2">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label fw-bold hidden" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.StartDate, "", new { htmlAttributes = new { @class = "form-control hidden", maxlength = 10 , @required = "required"} })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 p-3">
                                        <div class="form-check">
                                            @Html.EditorFor(model => model.NewsletterSignUp, new { htmlAttributes = new { @class = "form-check-input" } })
                                            @Html.LabelFor(model => model.NewsletterSignUp, htmlAttributes: new { @class = "form-check-label" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 p-3">
                                        <div class="form-check">
                                            @Html.EditorFor(model => model.NotificationEmail, new { htmlAttributes = new { @class = "form-check-input" } })
                                            @Html.LabelFor(model => model.NotificationEmail, htmlAttributes: new { @class = "form-check-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                           
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12 pt-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="submit" value="Prev" name="prevBtn" class="btn btn-sign-in bx-pull-left" />
                                        </div>
                                        <div class="col-6">
                                            <input type="submit" value="Next" name="nextBtn" class="btn btn-sign-in bx-pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="AddressAdded" />
                    }
                    <!-- end:wizrd -->
                    <!-- Delivery Modal -->
                    @{Html.RenderPartial("_DeliveryAddressModal"); }
                    <!-- end: Delivery Modal -->
                </div>
                <div class="col-lg-4">
                    @Html.Partial("_SubcriptionSummary")
                </div>


                @if ((Dictionary<string, int>)ViewData["preloadSub"] != null)
                {
                    var preloadSub = (Dictionary<string, int>)ViewData["preloadSub"];
                    foreach (var plans in preloadSub)
                    {
                        @Html.Hidden("preloadPlan", plans.Key.Split('|')[0])
                        @Html.Hidden("preloadRate", plans.Value)
                        @Html.Hidden("preloadRateDesc", plans.Key.Split('|')[2])

                    }
                }

            </div>

        </div>
    </section><!-- End Wizard Section -->

</div><!-- End #main -->


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
    <script>
        $('#loading').addClass('loading').removeClass('hidden');

        let prePlan = $("#preloadPlan").val();
        let preRate = $("#preloadRate").val();
        let preRateDesc = $("#preloadRateDesc").val();
        let today = moment();
        let tomorrow = moment().add(1, 'days').format('YYYY-MM-DD');
        let currentDate;

       
        function selectRate() {
            if (preRateDesc) {
                if (prePlan == "Print") {
                     $('div[id=' + preRateDesc + ']').addClass('show');
                }
            }

            $('[name=RateID][value=' + preRate + ']').click();
        }

        function selectPlan() {
            $('[name=RateType][value=' + prePlan + ']').click();
        }

        $(document).ready(function () {
            $('#loading').addClass('hidden').removeClass('loading');
            
            if (prePlan) {
                //select preloaded plan
                setTimeout(
                    selectPlan
                , 500);
            }

            let rateType;

            $('[name=subdetails]').submit(function (event) {

                let rateType = $('[name=RateType]:checked').val();
                let deliveryAddress = $("#AddressAdded").val();

                 if(!$('[name=RateType]').is(':checked')) {

                   swal({
                      title: "Error!",
                       text: "Please select a subscription plan to proceed",
                      type: "warning",
                      dangerMode: true
                   });

                    return false;
                }

                if (rateType != "Epaper" && !deliveryAddress ) {
                    swal({
                      title: "Error!",
                       text: "Please enter a delivery address to proceed",
                      type: "warning",
                      dangerMode: true
                   });

                    return false;
                }

                if ($('[name=RateType]').is(':checked')) {
                     let formData = $("[name=subdetails]").valid();
                     if (formData) {
                         $('#loading').addClass('loading').removeClass('hidden');
                    }
                }
              });

            $("[name=StartDate]").on('change', function (e) {

                let givenDate = $(this).val();
                givenDate = moment(givenDate);

                if (givenDate.isBefore(currentDate)) {
                    swal({
                        title: "Error!",
                        text: "Please select a subscription date in the future or today",
                        type: "warning",
                        dangerMode: true
                    });

                    $(this).val(currentDate);

                    return false;
                } else {
                    let splitDate = $(this).val().split('-');
                    let summaryDateText = ': ' + givenDate.format('DD/MM/yyyy');
                    $("#subStartDate").html(summaryDateText);
                }
                    
            });

            $('[name=RateType]').on("click", function () {

                today = moment();
                console.log(today.format('YYYY-MM-DD'), ' day: ', today.isoWeekday(), ' hr: ', today.hours());

                rateType = $(this).val();
                //console.log($(this).val());
                if (rateType != "Epaper") {
                    $("[name=StartDate]").removeClass('hidden');
                    $("[for=StartDate]").removeClass('hidden');
                    // if (today is fri) and time of day <=  10am
                    today = moment();
                    if (today.isoWeekday() === 5 && today.hours() <= 10) {
                      currentDate = today.add(1, 'days').format('YYYY-MM-DD');
                    } else {
                      currentDate = today.add(2, 'days').format('YYYY-MM-DD');
                    }
                    //If (today is sat or sun)
                    today = moment();
                    if (today.isoWeekday() >= 6) {
                      currentDate = moment().isoWeekday(2).format('YYYY-MM-DD');
                    }
                    //if (today is a mon, tues, wed or thur) and time of day <= 11am
                    today = moment();
                    if (today.isoWeekday() <= 4 && today.hours() <= 11) {
                      currentDate = today.add(1, 'days').format('YYYY-MM-DD');
                    } else {
                      currentDate = today.add(2, 'days').format('YYYY-MM-DD');
                    }

                    $("[name=StartDate]").val(currentDate);

                    $("#del-address").show();
                    $("#del-instructions").show();
                    $("#deliveryAddressForm").show();
                    $("#deliveryAddressForm :input:not(#DeliveryAddress_AddressLine2):not([name=SameAsMailing])").attr("required", "required");
                } else {
                    $("[name=StartDate]").addClass('hidden');
                    $("[for=StartDate]").addClass('hidden');
                    currentDate = today.format('YYYY-MM-DD');

                    $("[name=StartDate]").val(currentDate);

                    $("#del-address").hide();
                    $("#del-instructions").hide();
                    $("#deliveryAddressForm").hide();
                    $("#deliveryAddressForm :input:not(#DeliveryAddress_AddressLine2):not([name=SameAsMailing])").removeAttr('required');
                }

                $("[name=StartDate]").trigger("change");

            });

            $("[name=RateType]").click(function (e) {
                $("#rates-results").show();
                var rateType = $(this).val();
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetRatesList", "Account")',
                    data: { rateType: rateType },
                    success: function (result) {
                        //console.log(result);
                        $("#rates-results").html(result);
                        $("input[name=RateType][value=" + rateType + "]").prop('checked', true);

                        if (preRate) {
                            setTimeout(
                                selectRate
                                , 500);
                        }
                    }
                });
            });

            $("[name=deliveryAddressForm]").on('submit', function (e) {
                e.preventDefault();
                let formData = $("[name=deliveryAddressForm]").valid();

                if (formData) {
                    //Serialize the form datas.   
                    var addressData = $("[name=deliveryAddressForm] :input").serialize();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveDeliveryAddress", "Account")',
                        dataType: 'json',
                        data: addressData,
                        success: function (result) {
                            sessionStorage.setItem("delAddress", JSON.stringify(result));
                            var addressLine2 = result.AddressLine2 ? `${result.AddressLine2}<br>` : '';
                            var html = `<p class="p-3">${result.AddressLine1}<br>
                                            ${addressLine2}
                                            ${result.CityTown}<br>
                                            ${result.StateParish}<br>
                                        </p>`;
                            $("#AddressAdded").val("added");
                            $("#delAddressDetails").html(html);
                        }
                    });
                }

            });

            // Event delegation, waits until the elements are loaded on the page
            $("#rates-results").on("click", "[name=RateID]", function (e) {
                let rateDesc = $(this).parent().children().children().first().text();
                let plan = e.target.dataset;
                var desc = rateDesc.split("|")[0];
                var freq = rateDesc.split("|")[1];

                var frequency = rateDesc.split("|")[1] ? '<small>' + rateDesc.split("|")[1] + '</small>' : '';
                let rateType = plan.rateType + '|' + desc + '|' + plan.rateDesc + '|' + plan.ratePrice + '|' + freq;
                let rateId = plan.subId;


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PreloadSubscription", "Home")',
                    data: { rateType: rateType, rateId: rateId },
                    success: function (result) {
                        var html = '<strong>' + plan.rateType.toUpperCase() + ' SUBSCRIPTION</strong><br />' + desc + '<br />' + frequency + '<p class="pt-1 text-success fw-semibold fs-3">' + plan.ratePrice + '</p>';
                        $("#subSummary").html(html);
                    }
                });
            });


        });


        $("#SameAsMailing").click(() => {
            if ($("#SameAsMailing").is(":checked")) {
                $("#DeliveryAddress_AddressLine1").prop("disabled", true);
                $("#DeliveryAddress_AddressLine2").prop("disabled", true);
                $("#DeliveryAddress_CityTown").prop("disabled", true);
                $("#DeliveryAddress_StateParish").prop("disabled", true);

                if (sessionStorage.getItem("delAddress")) {
                    let address = JSON.parse(sessionStorage.getItem("delAddress"));
                    $("#DeliveryAddress_AddressLine1").val(address.AddressLine1);
                    $("#DeliveryAddress_AddressLine2").val(address.AddressLine2);
                    $("#DeliveryAddress_StateParish").val(address.StateParish);
                    $("#DeliveryAddress_CityTown").val(address.CityTown);
                    $("#DeliveryAddress_CityTown").val(address.CityTown).trigger('change');
                }
            }
            else {
                $("#DeliveryAddress_AddressLine1").prop("disabled", false);
                $("#DeliveryAddress_AddressLine2").prop("disabled", false);
                $("#DeliveryAddress_CityTown").prop("disabled", false);
                $("#DeliveryAddress_StateParish").prop("disabled", false);
 
                $("#DeliveryAddress_AddressLine1").val("");
                $("#DeliveryAddress_AddressLine2").val("");
                $("#DeliveryAddress_CityTown").val("");
                $("#DeliveryAddress_CityTown").val("").trigger('change');
                $("#DeliveryAddress_StateParish").val("");
            }
            })
        //});
    </script>
}
