@model ePaperLive.DBModel.log_errors

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>log_errors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.err_msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.err_msg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.err_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.err_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.err_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.err_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.err_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.err_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stacktrace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stacktrace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.errID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
