@model IEnumerable<ePaperLive.DBModel.log_errors>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table small table-striped table-hover " id="errorLogList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.err_msg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.err_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.err_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.err_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stacktrace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.err_msg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.err_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.err_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.err_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stacktrace)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.errID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.errID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.errID })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section scripts{
<script>
    $('#errorLogList').DataTable({
            "pageLength": 25
    });
</script>
}