@model IEnumerable<ePaperLive.DBModel.Subscriber_Epaper>

@{
    ViewBag.Title = "ePaper Subscribers";
}

<div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("index", "home")">Home</a></li>
                <li><a href="@Url.Action("epapersub", "admin")">ePaper Subscribers</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
            <h2>@ViewData["Title"]</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Wizard Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-12">
                    <!-- start:wizrd -->
                    <div class="container-fluid ">

                        <p>
                            <a href="@Url.Action("addsubscriber", "epapersub")">Create New</a>
                        </p>
                        <table class="table table-hover table-responsive table-striped small" id="epaperSubList">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PlanDesc)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailAddress)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PlanDesc)
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Subscriber_EpaperID }) 
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end:wizrd -->
                </div>


            </div>

        </div>
    </section><!-- End Wizard Section -->

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#epaperSubList').DataTable({
                    "pageLength": 25
            });
        });


    </script>
}