@using BotDetect.Web.Mvc;
@model ePaperLive.Models.FeedbackFormModel

@{ ViewBag.Title = "Home Page"; }


<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <h1>The paper at your doorstep or the <span class="text-danger">e</span>Paper on the  GO!</h1>
                    <h2>
                        Subscribe to the Jamaica Observer digital replica of the printed newspaper or have it delivered nationwide* directly at your doorstep.
                    </h2>
                    <a href="@Url.Action("Subscribe", "Account")" class="btn-get-started scrollto">Subscribe Now</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <!-- Press Reader Front Page -->
                @*<img src="https://i.prcdn.co/img?cid=9IJ5&page=1&height=450" class="img-fluid" alt="" id="frontpage" style="border: 2px solid red;">*@
                <img src="@String.Format("https://i.prcdn.co/img?cid=9IJ5&page=1&height=450?{0}", DateTime.Now.ToString("yyyyMMdd"))" class="img-fluid" alt="" id="frontpage" style="border: 2px solid red;">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->
<!-- start: adspot -->
<div id="adspot" class="p-5 text-center d-none d-md-block">
    <img src="@Url.Content("~/assets/img/clients/jdx-970x90.jfif")">
</div>
<div id="adspot" class="p-3 text-center d-block d-sm-none">
    <img src="@Url.Content("~/assets/img/clients/lw-300x250.jfif")">
</div>
<!-- end: adspot -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Featured Packages</h2>
            <p>Subscribe to trusted, insightful journalism and enjoy unlimited access online or offline</p>
        </div>

        <div class="row justify-content-md-center">

            <!-- featured packages-->
            @Html.Action("GetFeaturedPackages", "Home")

            <!-- end featured packages-->
        </div>

    </div>

    <!-- start: adspot -->
    <div id="adspot" class="p-5 text-center d-none d-md-block">
        <img src="@Url.Content("~/assets/img/clients/lw-970x90.jfif")">
    </div>
    <div id="adspot" class="p-3 text-center d-block d-sm-none">
        <img src="@Url.Content("~/assets/img/clients/lw-300x250.jfif")">
    </div>
</section>
<!-- End Pricing Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Subscription Packages</h2>
            <p>
                Subscribe to trusted, insightful journalism and enjoy unlimited access online or offline. We offer various packages from that will give you acces to our media whereever in the world you are.
                View our options below to see what best fits into your lifestyle.
            </p>
        </div>
        <!-- packages-->
        @Html.Action("GetPackages", "Home")

        <!-- end packages-->

    </div>
</section><!-- End Features Section -->
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="row" data-aos="zoom-in">
            <div class="col-lg-9 text-center text-lg-start">
                <h3>Download the ePaper App</h3>
                <p> Read stories in your news feed on one device and pick up where you left off on another. Subscribe and authorize your devices with one account. Apps are available for iOS and Android devices</p>
                <p>First time users get to enjoy one month <strong>FREE</strong> access</p>
                <br>
                <a href="#"><img src="@Url.Content("~/assets/img/appstore-google.png")" alt="" class="img-fluid" width="150" data-aos="zoom-in"></a>
                <a href="#"><img src="@Url.Content("~/assets/img/appstore-apple.png")" alt="" class="img-fluid" width="150" data-aos="zoom-in"></a>

            </div>
            <div class="col-lg-3 cta-btn-container text-cente p-3">
                @*<a class="cta-btn align-middle" href="#">Download</a>*@
                <a href="/"><img src="@Url.Content("~/assets/img/epaper-jol-logo.png")" alt="" class="img-fluid"></a>

            </div>
        </div>

    </div>
</section><!-- End Cta Section -->
<!-- start: adspot -->
<div id="adspot" class="p-5 text-center d-none d-md-block">
    <img src="@Url.Content("~/assets/img/clients/jdx-970x90.jfif")">
</div>
<div id="adspot" class="p-3 text-center d-block d-sm-none">
    <img src="@Url.Content("~/assets/img/clients/lw-300x250.jfif")">
</div>
<!-- ======= Features Section ======= -->
<section id="features" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Features</h2>
            <p>The Jamaica Observer e-paper app is superfast, easy to use and gets you right to the news you want.</p>
            <p>The e-paper is a complete digital version of the print edition of your favorite paper, Jamaica Observer Newspaper. This app aims to help you replicate the experience that our readers enjoy as they read our print papers..</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
                <div class="icon-box icon-box-red">
                    <div class="icon"><i class="bx bx-search-alt"></i></div>
                    <h4 class="title"><a href="">Search</a></h4>
                    <p class="description">Search for news, keywords, articles and past editions of The Jamaica Observer.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box icon-box-black">
                    <div class="icon"><i class="bx bx-volume-full"></i></div>
                    <h4 class="title"><a href="">Listen</a></h4>
                    <p class="description">On-demand narration is a great feature for users who like to listen to their newspaper while multitasking or who are visually impaired.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box icon-box-red">
                    <div class="icon"><i class="bx bx-share-alt"></i></div>
                    <h4 class="title"><a href="">Share</a></h4>
                    <p class="description">Love an article? Share it! You can get a direct link to an article, post it on Facebook and other social media.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box icon-box-black">
                    <div class="icon"><i class="bx bx-unlink"></i></div>
                    <h4 class="title"><a href="">Print</a></h4>
                    <p class="description">
                        Print articles and supplements anytime you need.

                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How can I contact Customer Services? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        If you have any questions or concerns, please call us on 876 018 5177 (free from a landline) or 876 7022 6620 (charged at your network providers standard rate). Call us Monday – Fri 8:30am to 5:00pm.

                    </p><p>
                        Alternatively, email us at info@jamaicaobserver.com
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Can I cancel my subscription?? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        You can cancel your subscription by calling Customer Services on 876 068 4965. Call us Monday – Friday 8:30am to 5:00pm. If you wish to cancel your subscription after your minimum term, you must call us at least 2 days before your next billing date. For print subscriptions, please contact us at least 15 days before your next billing date.
                    </p>
                    <p>
                        If you cancel within 14 days of the start of your subscription, we will refund any payments received from you using the same method of payment that you used to purchase your subscription. You will not be entitled to a refund of your initial payment if you cancel after the first 14 days of the start of your subscription.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">I think I might already have a subscription. How can I check? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        If you have a current subscription or previously had a subscription, we will already recognise your email address. Please click <a href="#" data-bs-toggle="modal" data-bs-target="#login-modal">sign in</a> and use forget password to continue.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Do you deliver print outside of Jamaica? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        No we don’t delivery out of Jamaica. Currently we only offer the ePaper for our international subscribers.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">I am outside of Jamaica, can I susbcribe to print to be delievered at an address in Jamaica? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Yes. Whether you are in or outside of Jamaica you may subscribe to print as long as the delivery address is here in Jamaica.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How may past issues do I have access to on the ePaper? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Two (2) weeks.
                    </p>
                </div>
            </li>

        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Contact Us</h2>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>40-42 1/2 Beechwood Avenue, Kingston 5, Jamaica, W.I.</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>userhelp@jamaicaobserver.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 876 926-7655</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.5620444538768!2d-76.7992063488659!3d17.99910158765443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3fbc27a9c9a9%3A0x22853c11a734ac47!2sJamaica%20Observer%20Limited!5e0!3m2!1sen!2sjm!4v1668708116131!5m2!1sen!2sjm" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

                @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "php-email-form", role = "form" }))

                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="form-group col-md-6">
                            @*@Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })<br>*@
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required", placeholder = Html.DisplayNameFor(model => model.Name) })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                            @*@Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })<br>*@
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", placeholder = Html.DisplayNameFor(model => model.Email) })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        @*@Html.LabelFor(model => model.Subject, new { @class = "col-md-2 control-label" })<br>*@
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", required = "required", placeholder = Html.DisplayNameFor(model => model.Subject) })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mt-3">
                        @*@Html.LabelFor(model => model.Message, new { @class = "col-md-2 control-label" })<br>*@
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", required = "required", placeholder = Html.DisplayNameFor(model => model.Message) })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("CaptchaCode", "Retype the code from the picture: ")
                        @{ MvcCaptcha feedbackCaptcha = new MvcCaptcha("FeedbackCaptcha");
                            feedbackCaptcha.UserInputID = "CaptchaCode";}
                        @Html.Captcha(feedbackCaptcha)
                    </div>
                    <div class="actions">
                        @Html.TextBox("CaptchaCode", "", new { required = "required" })
                        @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                        @if ((Request.HttpMethod == "POST") && ViewData.ModelState.IsValid)
                        {
                            <span class="correct">Correct!</span>
                        }
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                }


            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@section scripts{
    <script>
        $(document).ready(function () {
            //$("[name=subscribeNow]").click((e) => e.preventDefault());
            $("[name=subscribeNow]").click((e) => {

            });

            $("[name=subscribeNow]").on("click", function (e) {
                e.preventDefault();
                var freq = $(this).parent().children(".small").html();
                let plan = e.target.dataset;
                let rateText = (plan.isFeature == "true") ? $("[name=rateText]").val() : e.target.innerText;
                freq = (plan.isFeature == "true") ? plan.delFreq : freq;
               
                let rateType = plan.rateType + '|' + rateText + '|' + plan.rateDesc + '|' + plan.ratePrice + '|' + freq;
                let rateId = plan.subId;
                //console.log(rateType);
                //console.log(rateId);
                //console.log(e);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PreloadSubscription","Home")',
                    data: { rateType: rateType, rateId: rateId },
                    success: function (result) {
                        //console.log(result['data']);
                        window.location.href = '@Url.Action("Subscribe", "Account")';
                    }
                });
            });

        });
    </script>


}