@model ePaperLive.DBModel.Subscriber_Tranx

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscriber_Tranx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subscriber.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subscriber.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardLastFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardLastFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranxDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranxDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranxType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranxType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranxNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranxNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMadeLiveSuccessful)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMadeLiveSuccessful)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolledIn3DSecure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolledIn3DSecure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Subscriber_TranxID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
