@model IEnumerable<ePaperLive.DBModel.Subscriber_Tranx>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tranxList">
    <thead>

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardExp)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TranxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranxDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmationNo)
            </th>
            <th>Options</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranxAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranxDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RateID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranxType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AuthCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmationNo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Subscriber_TranxID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Subscriber_TranxID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Subscriber_TranxID })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tranxList').DataTable({
               
            });
        });


    </script>
}